<footer class="footer mt-auto d-flex align-items-center" style="background: linear-gradient(to right, #34C8E2); height: 50px;">
  <%= link_to '利用規約', terms_path, class: 'mb-0 text-white ms-4 text-decoration-none' %>
  <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'mb-0 text-white ms-4 text-decoration-none' %>
  <div class="app-icon-box ms-3">
    <i class="bi bi-window"></i>
    <div class="app-icon-shadow-bar"></div>
  </div>
</footer>

